# udev rules for Logitech devices' hidraw
#   => Give access to control interface to console user
#   => Do not to give control over other interfaces

ACTION=="add", KERNEL=="hidraw*", ATTRS{idVendor}=="046d", GOTO="logitech"
GOTO="end"

LABEL="logitech"
ATTRS{bInterfaceProtocol}=="00", TAG+="uaccess"

LABEL="end"
