Source: keyleds
Section: utils
Priority: optional
Maintainer: Julien Hartmann <juli1.hartmann@gmail.com>
Build-Depends: debhelper (>=9), libudev-dev, linux-libc-dev, python3-dev, cython3
Standards-Version: 3.9.6
Homepage: https://github.com/spectras/keyleds
X-Python3-Version: >= 3.2
#Vcs-Git: https://github.com/spectras/keyleds.git

Package: keyleds
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Logitech Keyboard per-key lighting control
 The following features are supported:
 - Device enumeration and basic information (keyboard type, firmware version, …).
 - Inspection of device capabilities and led configuration.
 - Individual key led control (set and get).
 - Automatic translation between led identifiers and keycodes.
 - Game-mode configuration
 - Report rate configuration
