Source: keyleds
Section: utils
Priority: optional
Maintainer: Julien Hartmann <juli1.hartmann@gmail.com>
Build-Depends: debhelper (>=9), po-debconf, linux-libc-dev, libqt4-dev, libudev-dev, libx11-dev, libxi-dev, libxml2-dev, libyaml-dev
Standards-Version: 3.9.8
Homepage: https://github.com/spectras/keyleds
X-Python3-Version: >= 3.2
#Vcs-Git: https://github.com/spectras/keyleds.git

Package: keyleds
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Logitech Keyboard per-key lighting control
 Includes a background service and a command-line tool to handle Logitech
 Gaming Keyboard lights.
 The following features are supported:
  - Device enumeration and basic information (keyboard type, firmware
    version, …).
  - Inspection of device capabilities and led configuration.
  - Individual key led control (set and get).
  - Automatic translation between led identifiers and keycodes.
  - Game-mode configuration
  - Report rate configuration

Package: keyleds-dev
Architecture: any
Depends: keyleds, ${misc:Depends}
Description: Logitech Keyboard per-key lighting control - headers
 Development headers for the library implementing Logitech protocol.
 The following features are supported:
  - Inspection of device capabilities and led configuration.
  - Individual key led control (set and get).
  - Translation between led identifiers and keycodes.
  - Game-mode configuration
  - Report rate configuration
