[Desktop Entry]
Type=Application
Name=keyledsd
NoDisplay=true
Comment=Manage Logitech per-key lighting keyboards
Exec=keyledsd
Terminal=false
StartupNotify=false
Keywords=logitech;keyboard;lighting;
