# Sample configuration
# kate: syntax yaml;
# vi: ft=yaml :

# List of plugin names to load on startup
# Plugins that implement only one effect are normally auto-loaded and do not need
# to be specified here. This is useful mostly for loading multi-effect plugins.
plugins: [lua]
# Additional paths to search plugins in. Similar to -m option on command line.
# plugin-paths: []

# List of device names, used for filtering profiles
# Serial can be found by plugin in the device while the service is
# running. Service will output the serial on its debug output.
# devices:
#     foo: 000123456789

# Generic key groups, available to all profiles
# Recognized key names can come either from a layout file or from
# libkeyleds dictionnary, in libkeyelds/src/strings.c section keycode_names
groups:
    special: [game, light]
    functions: [F1, F2, F3, F4, F5, F6, F7, F8, F9, F10, F11, F12]
    functions-extra: [sysrq, scrolllock, pause]
    alpha: [a, b, c, d, e, f, g, h, i, j, k, l, m,
            n, o, p, q, r, s, t, u, v, w, x, y, z]
    modifiers: [lctrl, rctrl, lshift, rshift, lmeta, lalt, ralt, capslock, fn, compose]
    arrows: [left, right, up, down]

# Effects define a named set of plugins for use in profiles.
# Effects are rendered in order, so effects down the list can see and/or
# overwrite whatever was rendered by effects higher in the list.
#
# Anytime a color is specified, it can be either:
#   - a 6-digit RGB hexadecimal color, web-style. Eg: ffff00 is yellow.
#   - an 8-digit RGBA hexadecimal color. Last two digits specify transparency,
#     from 00 (transparent) to ff (opaque).
#   - a color name, from CSS web color names. Those are always fully opaque.
#
# Note that there is no buffer clear in between renders. So to avoid odd
# flickering, every key should be written to by at least one plugin.
# If that is an issue, simply start with the fill plugin, setting all keys
# to opaque black or some other color.
#
effects:
    keyleds-default:
        plugins:
            - effect: wave
              period: 8000
              length: 2000
              direction: 240
              color0: 5f5fff
              color1: 5f5fff
              color2: 5f5fff
              color3: 5f5fff
              color4: 5f5fff
              color5: 0f0f0f
    rainbow:
        plugins:
            - effect: wave
              period: 5000      # cycle duration in ms
              length: 2000      # wavelength (1000 is keyboard size)
              direction: 240    # 0 for upwards, 90 rightwards, 180 downwards, ...
              color0: red
              color1: magenta
              color2: blue
              color3: cyan
              color4: green
              color5: yellow
    green-breathe:
        groups:
            special: [enter, backspace, tab]
            wipe: [esc, insert, delete, home, end, pageup, pagedown]
        plugins:
            - effect: fill
              color: 004000
              special: 002000
            - effect: breathe
              color: green          # breathing keys will go from that color to transparent
              period: 5000          # breathe period in ms
            - effect: fill
              arrows: black         # fill plugin accepts key group names
              functions: black      # that will override some keys
              functions-extra: black
              wipe: black
              modifiers: 006060
    nightsky:
        plugins:
            - effect: fill          # define a night sky background
              color: darkblue
            - effect: stars         # add some stars
              number: 30            # how many stars are visible at once
              duration: 3000        # how long a star remains visible (in ms)
              color0: white         # colors to use for the stars. They are picked
              color1: yellow        # randomly from that set. If not specified,
              color2: beige         # you'll get all the rainbow.
    standby:
        plugins:
            - effect: fill
              color: black
            - effect: breathe
              color: gray
              period: 10000
              group: special        # name of key group to play effect on
    text-colors:
        groups:
            escape: [esc]           # it's possible to make effect-scope key groups
        plugins:
            - effect: fill
              color: 404060         # color is special: it's applied to all keys before
              escape: orange        # key groups are filled
              arrows: green
              functions: yellow
              modifiers: darkblue
    alert:
        groups:
            alert-keys: [esc, logo, game, light]
        plugins:
            - effect: breathe
              color: red
              period: 4000
              group: alert-keys
    feedback:
        plugins:
            - effect: feedback      # turn keys on when pressed
              color: ffbfbf         # color when just pressed
              sustain: 500          # how long (in milliseconds) the color is held
              decay: 500            # how long (in milliseconds) it then takes to fade out

# Profiles trigger effect activation when their lookup matches
# Their name doesn't matter, but order does, as when several profiles match
# the last matching wins.
#
# Only one profile can be active at any time. A profile with no lookup
# or default setting is always active. Lookups use regular expression. They
# must match fully (as if they were automatically enclosed in ^$).
#
profiles:
    __default__:                    # Special name __default__ is active when no other profile matches
        effect: keyleds-default     # Apply this effect
    __overlay__:
        effect: feedback
    empty:
        lookup: { class: ^$ }       # Empty class: when no window is active or screen is locked
        effect: rainbow
    video:
        lookup: { class: mpv }
        effect: standby
    kate:
        lookup: { class: kate }
        effect: text-colors
    kate-modified:
        lookup: { class: kate, title: ".* [*] — Kate" }
        effects: [ text-colors, alert ] # Apply those effects, in that order
    konsole:
        lookup: { class: Gnome-terminal|konsole|XTerm }
        effect: green-breathe
    chromium:                       # Okay that profile is ugly, it's just for demo
        lookup: { class: "[Cc]hromium-browser" }
        effect: nightsky
