# Sample configuration
# kate: syntax yaml;
# vi: ft=yaml :

# Set additional lookup paths for keyboard layout files
# layouts: /home/spectras/projects/keyleds/keyledsd/layouts

# List of device names, used for filtering profiles
# Serial can be found by plugin in the device while the service is
# running. Service will output the serial on its debug output.
# devices:
#     foo: 000123456789

# Generic key groups, available to all profiles
# Recognized key names can come either from a layout file or from
# libkeyleds dictionnary, in libkeyelds/src/strings.c section keycode_names
groups:
    special: [game, light]
    functions: [F1, F2, F3, F4, F5, F6, F7, F8, F9, F10, F11, F12]
    functions-extra: [sysrq, scrolllock, pause]
    alpha: [a, b, c, d, e, f, g, h, i, j, k, l, m,
            n, o, p, q, r, s, t, u, v, w, x, y, z]
    modifiers: [lctrl, rctrl, lshift, rshift, lmeta, lalt, ralt, capslock, fn, compose]
    arrows: &arrows [left, right, up, down]

# Profiles trigger plugin activation when their lookup matches
# Their name doesn't matter, but order does, as plugins are always rendered
# in the order they appear here, so plugins that come after can overwrite
# led states set buy those that came before.
#
# Any number of profiles can be active at any time. A profile with no lookup
# or default setting is always active. Lookups use regular expression. They
# must match fully (as if they where automatically enclosed in ^$).
#
# Anytime a color is specified, it can be either:
#   - a 6-digit RGB hexadecimal color, web-style. Eg: ffff00 is yellow.
#   - an 8-digit RGBA hexadecimal color. Last two digits specify transparency,
#     from 00 (transparent) to ff (opaque).
#   - a color name, from CSS web color names.
#
profiles:
    default:
        default: yes            # Disable this profile if any other matches
        plugins:
            - plugin: fill
              color: logitech
    empty:                      # When no window is active or screen is locked
        lookup:
            class: ^$           # empty class
        plugins:
            - plugin: wave
              period: 5000      # cycle duratio in ms
              length: 2000      # wavelength (1000 is keyboard size)
              direction: 240    # 0 for upwards, 90 rightwards, 180 downwards, ...
              color0: red
              color1: magenta
              color2: blue
              color3: cyan
              color4: green
              color5: yellow
    video:
        lookup:
            class: mpv
        plugins:
            - plugin: fill
              color: black
            - plugin: breathe
              color: gray
              period: 10000
              group: special
    kate:
        lookup:
            class: kate
        # Profile can be restricted to some devices like this:
        # devices: [foo]
        groups:
            escape: [esc]
        plugins:
            - plugin: fill
              color: 404060
              escape: orange
              arrows: green
              functions: yellow
              modifiers: darkblue
    kate-modified:
        lookup:
            class: kate
            title: ".* [*] — Kate"
        groups:
            file-modified: [esc, logo, game, light]
        plugins:
            - plugin: breathe
              color: red
              period: 4000
              group: file-modified
    konsole:
        lookup:
            class: konsole
        groups:
            special: [enter, backspace, tab]
            wipe: [esc, insert, delete, home, end, pageup, pagedown]
        plugins:
            - plugin: fill
              color: 004000
              special: 002000
            - plugin: breathe
              color: green
              period: 5000
            - plugin: fill
              arrows: black
              functions: black
              functions-extra: black
              wipe: black
              modifiers: 006060
    chromium:
        lookup:
            class: chromium-browser
        plugins:
            - plugin: fill
              color: darkblue
            - plugin: stars
              number: 30
              duration: 3000
              color0: white
              color1: yellow
              color2: beige
